header{
    visibility: hidden;
}

section{
    background-color: #2b2b2b;
}

.stHeadingContainer{
    text-align: center;
}

h3{
    text-align: left;
}

.st-ca.st-af.st-c7{
visibility: hidden;

}

.container{
    text-align: center;
}